/* centers img vertically and horizonally*/
.logo{
    display: block;
    margin: auto;
    
    padding: 7% 0 1% 0;
}

footer{
    background-color: #f1f1f1;
    
}

.searchboxBorder{
    border-color: #f1f1f1;
    /*change border-width to 1 or 2*/
    border-width: 2px;
    border-style: solid;
    border-radius:  25px;
    /* padding changes size of the actual 
    searchbos*/
    padding: 10px;
    margin-right: 30%;
    margin-left: 30%;  
}
.input{
    /*text box to type in*/
    width: 80%; 
    padding: 0px 20px 0 50px;
    /*removes border and standard 
    outline that come with 
     <input type="text" */
    border: none;
    outline: none;
}
ul {
    /*list-style-type: none; removes bullet points*/
    list-style-type: none;
    /*margin and padding removes browser default*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  li {
      /* pushes all elemnts left*/
    float: left;
  }
  li a {
      /*display: block; - Displaying the links as block 
      elements makes the whole link area clickable (not just 
      the text), and it allows us to specify the width (and 
      padding, margin, height, etc. if you want)*/
    display: block;
    /*text color*/
    color: rgb(87, 82, 82);
    /*centers text in each block*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial;
    font-size:13px;


  }
  li a:hover {
    text-decoration: underline;

  }
  .mario{
      display: block;
      height: 30px;
      width: 30px;
      padding: 0%;
  }
  mario:hover{
      box-shadow: 2px 2px 2px 1px black;
  }
  button{

    border:none;
    padding: 8px;
    border-radius: 3px;
    background-color: rgb(245, 245, 245);
    font-family:Arial;
   
    text-align: center;
    

  }
  .relative {
    /*text-align centers the buttons ;*/
    text-align: center;
    /*moves the buttons down from the search bar*/
    padding: 2% 0 1% 0;


   } 
   .navitem {
       /*makes buttons beside eachother*/
    display: inline-block;
    /*text color*/
     color: rgb(0, 0, 0);
     /*makes curson a pointer when ontop*/
     cursor: pointer;
   }

  


  button:hover{

  }


